<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backtrack - Control</title>
</head>

<body style="background-color: rgb(201, 216, 216);">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-nav">
        {% if user.is_staff %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="facturasBancoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pedidos
        </a>
        <ul class="dropdown-menu" aria-labelledby="pedidosBancoDropdown">
          <li><a class="dropdown-item" href='/ordenes/' >Nuevo Pedido</a></li>
          <li><a class="dropdown-item" href="/salidas/">Listado de Pedidos</a></li>
          <li><a class="dropdown-item" href='/ordenesProcesadas/'>Pedidos Preparados</a></li>
          <li><a class="dropdown-item" href='/ordenesCerradas/'>Pedidos Entregados</a></li>
          <li><a class="dropdown-item" href='/ordenesDevueltas/'>Pedidos Devueltos</a></li>
          <li><a class="dropdown-item" href='/inventario/'>Realizar Inventario</a></li>
          <li><a class="dropdown-item" href='/inventarioacce/'>Inventario Accesorios</a></li>
          <li><a class="dropdown-item" href='/entradaaccesorios/'>Entrada de Accesorios</a></li>
          <li><a class="dropdown-item" href='/consultaaccesorios/'>Consulta Inventario de Accesorios</a></li>
          <li><a class="dropdown-item" href='/kardex/'>Kardex</a></li>
          <li><a class="dropdown-item" href='/recordatorio/'>Enviar Recordatorios</a></li>
        </ul>
        </div>
        <a class="nav-item nav-link" href='/verFaltante/'>Faltantes</a>
        <a class="nav-item nav-link" href='/consultainventario/'>Inventario</a>
        <a class="nav-item nav-link" href='/informe/'>Informes</a>
        <a class="nav-item nav-link" href='/auditoria/'>Auditoría</a>

        {% if user.username in  'lmeneses, maria2018, lcastillo, fmeneses' %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="facturasBancoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Facturación
        </a>
        <ul class="dropdown-menu" aria-labelledby="facturasBancoDropdown">
          <li><a class="dropdown-item" href="/listadocxc/">Pendiente Facturar</a></li>
          <li><a class="dropdown-item" href="/listadocxcfacturado/">Facturado</a></li>
          <li><a class="dropdown-item" href="/listadocxcfacturadoabono/">Abonado</a></li>
          <li><a class="dropdown-item" href="/listadopagado/">Cobrado</a></li>
          <li><a class="dropdown-item" href="/reportescxc/">Reportes</a></li>
        </ul>
        </div>
        {% endif %}
        <a class="nav-item nav-link" href='/registro/'>Nuevo Usuario</a>
        <a class="nav-item nav-link" href='/logout/'>Cerrar Sesion</a>
        {% else %}
        <a class="nav-item nav-link" href='/salidas/'>Pedidos</a>
        <a class="nav-item nav-link" href='/ordenesProcesadas/'>Pedidos Preparados</a>
        <a class="nav-item nav-link" href='/ordenesCerradas/'>Pedidos Entregados</a>
        <a class="nav-item nav-link" href='/ordenesDevueltas/'>Pedidos Devueltos</a>
        <a class="nav-item nav-link" href='/logout/'>Cerrar Sesion</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <div style="background-color: white; text-align: right; margin-right: 100px; color: black;"> 
  
  {% if user.is_authenticated %}

  <h4><font color=#808080> Usuario: {{user.username}}</h4></font>

  {% endif %}
  
  </div>
    {% block content %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  
  </body>

</html>